.sidebar {
  background-color: var(--main-color);
  color: var(--whit-color);
  width: 250px;
  
}

.navItem{
  padding: 1.5rem;
  cursor: pointer;
  transition: background  0.8s ;
  text-decoration:none ;
  color: var(--whit-color);
}

.navItem:hover{
  background-color: rgb(27, 138, 189);
}